@font-face {
    font-family: 'berlin';
    src: url(../fonts/BRLNSDB.TTF);
}

@font-face {
    font-family: 'Goldman';
    src: url(../fonts/Goldman-Bold.ttf);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1d1e20;
    font-family: 'berlin', Arial;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #1d1e20;
}

::-webkit-scrollbar-thumb {
    background: #feba00;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    background-color: black;
    display: flex;
}

aside nav {
    flex-basis: 10%;
    background-color: #1d1e20;
}

aside .image-fix {
    flex-basis: 90%;
    background-image: url(../img/orasi.png);
    background-size: cover;
    position: relative;
}

aside .image-fix-content {
    position: absolute;
    bottom: 5%;
    left: 23%;
    text-align: center;
}

.image-fix-content h2 {
    font-size: 60px;
    color: white;
}

.image-fix span {
    color: #feba00;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cv {
    display: none;
}

nav .bar {
    flex-basis: 10%;
    background-color: #feba00;
    padding: 0px 20px;
    cursor: pointer;
}

nav ul {
    flex-basis: 80%;
    list-style: none;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

nav .downloadcv {
    flex-basis: 10%;
    cursor: pointer;
}

nav .bar p {
    font-size: 40px;
    color: #1d1e20;
    font-family: 'Goldman', cursive;
    flex-basis: 10%;
    line-height: 80px;
    cursor: pointer;
}

nav .bar p:hover {
    animation: spin 0.5s ease-in;
}

nav ul i {
    font-size: 30px;
    color: #feba00;
    margin-top: 15px;
    padding: 10px;
    transition: 0.2s;
}

nav ul i:hover {
    transform: translateY(-7px);
    text-shadow: 0px 5px 2px rgba(255, 255, 255, 0.3);
}

nav .downloadcv i {
    font-size: 50px;
    color: #feba00;
    flex-basis: 10%;
    background-color: #1d1e20;
    padding: 10px;
    z-index: 10;
    position: ABSOLUTE;
    bottom: 30px;
    transition: 0.2s;
}

nav .downloadcv i:hover {
    transform: translateX(15px);
}

main {
    position: absolute;
    top: 3%;
    right: 2%;
    left: 52%;
    color: white;
    text-align: justify;
    padding-bottom: 10px;
}

#mobile {
    display: none;
}

#about h1,
#skills h1,
#contact h1,
#projects h1 {
    font-size: 65px;
    margin-left: 20px;
}

#about ul {
    list-style: none;
    margin-left: 20px;
}

#about li {
    display: inline-block;
    margin: 10px 20px 20px 0px;
    color: #feba00;
}

#about p.text {
    width: 70%;
    margin-left: 20px;
}

#about h3 {
    font-size: 30px;
    margin-left: 20px;
}

#about section,
.look {
    display: flex;
}

#about div {
    flex-basis: 50%;
    margin: 20px;
}

#about section i,
.look i {
    color: #feba00;
    font-size: 25px;
    margin: 7px 0px 5px;
}

#about section h5,
.look h5 {
    color: #feba00;
    font-size: 16px;
    margin: 0px 0px 7px;
}

#about section p,
.look p {
    font-size: 14px;
}

.hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #3f4042;
    border: 0;
    height: 3px;
}

#skills {
    margin-top: 20px;
    padding-top: 10px;
}

#skills section {
    margin: 0 20px 0;
}

#skills .skill {
    margin-top: 11px;
}

#skills .skill div {
    display: flex;
    justify-content: space-between;
}

#skills .progress {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #3f4042;
    margin-top: 5px;
    position: relative;
}

#skills .progress .progress-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #feba00;
    border-radius: 5px;
}

#skills .html {
    right: 20%;
}

#skills .css {
    right: 12%;
}

#skills .js {
    right: 35%;
}

#skills .php {
    right: 28%;
}

#skills .mysql {
    right: 30%;
}

#skills .java {
    right: 75%;
}

#skills .jquery {
    right: 20%;
}

#skills .bootstrap {
    right: 10%;
}

#skills .look {
    margin-top: 20px;
}

#skills h3 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#skills .look div {
    flex-basis: 50%;
    margin: 10px 5px 0px;
    text-align: center;
}

#skills .look div .left {
    text-align: left;
    margin-top: 10px;
}

#skills .look div .right {
    text-align: right;
}

#skills .look div div p:last-child {
    color: #feba00;
}

#skills .item p {
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

#projects {
    margin-top: 30px;
}

#projects section {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

#projects section div {
    display: flex;
    flex-direction: column;
}

#projects section img {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.box {
    position: relative;
    margin: 3px;
}

.text-box {
    background-color: rgba(255, 255, 255, 0.7);
    color: #1d1e20;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px;
    text-align: center;
    transition: 0.4s;
    display: none;
}

.text-box:hover {
    display: inline-block;
}

.text-box p {
    font-size: 14px;
}

.text-box span {
    font-size: 12px;
}

#contact section {
    margin: 0 20px;
}

#contact iframe {
    width: 100%;
    margin-top: 15px;
    height: 270px;
}

#contact .contact {
    display: flex;
}

#contact .contact .hub {
    width: 100%;
}

.nbsp {
    display: none;
}

#contact .contact .hub div {
    display: flex;
    margin: 5px;
    align-items: center;
}

#contact .contact .hub div i {
    font-size: 25px;
    margin: 5px;
    color: #feba00;
}

#contact .contact .hub div p {
    margin: 2px;
}

footer {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #feba00;
    text-align: center;
    padding: 5px;
}

@media screen and (max-width:578px) {
    aside {
        position: static;
        display: block;
    }

    aside .image-fix {
        display: none;
    }

    aside nav {
        position: fixed;
        bottom: 0;
        top: 90%;
        width: 100%;
        z-index: 9999;
    }

    #cv {
        display: inline-block;
        background-color: #feba00;
        color: black;
    }

    #cv i {
        color: #000;
    }

    nav .bar {
        display: none;
    }

    nav ul {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        padding-top: 0;
        background-color: black;
    }

    nav .downloadcv {
        display: none;
    }

    nav ul a {
        flex-basis: 20%;
    }

    nav ul i {
        font-size: 30px;
        color: #feba00;
        padding: 0 15px 0;
        transition: 0.2s;
    }

    nav ul i:hover {
        transform: scale(0.9);
        text-shadow: 0 0 0 black;
    }

    main {
        position: static;
        color: white;
        text-align: justify;
        padding-bottom: 10px;
        /* background-color: red; */
    }

    #mobile {
        display: block;
    }

    #mobile .box {
        width: 100%;
        height: 200px;
        background-color: blue;
        background: url(../img/IMG_20201026_115313.jpg);
        background-size: cover;
        margin-bottom: 10px;
    }

    #about h1,
    #skills h1,
    #contact h1,
    #projects h1 {
        font-size: 45px;
        margin-left: 15px;
    }

    #about ul {
        margin-left: 15px;
    }

    #about li {
        margin: 5px 15px 5px 0px;
    }

    #about p.text {
        width: 90%;
        margin-left: 15px;
    }

    #about h3 {
        font-size: 25px;
        margin-left: 15px;
    }

    #about div {
        margin: 15px;
    }

    #about section i,
    .look i {
        font-size: 25px;
        margin: 4px 0px 5px;
    }

    #about section h5,
    .look h5 {
        font-size: 14px;
        margin: 0px 0px 7px;
    }

    .hr {
        width: 95%;
        margin: 15px 10px 10px;
    }

    #skills {
        margin-top: 10px;
    }

    #skills section {
        margin: 0 15px 0;
    }

    #skills .skill {
        margin-top: 8px;
    }

    #skills span {
        font-size: 14px;
    }

    #skills .look {
        margin-top: 10px;
    }

    #skills .look div {
        flex-basis: 50%;
        margin: 5px 3px 0px;
    }

    #skills .look div .left,
    .right {
        margin-top: 10px;
    }

    #projects {
        margin-top: 20px;
    }

    #projects section {
        flex-direction: column;
    }

    .box {
        margin: 2px;
    }

    #contact section {
        margin: 0 15px;
        padding-bottom: 40px;
    }

    #contact iframe {
        margin-top: 15px;
        height: 180px;
    }

    #contact .contact .hub {
        width: 50%;
    }

    .nbsp {
        display: inline;
    }

    #contact .contact .hub div i {
        font-size: 20px;
        margin: 5px;
        color: #feba00;
    }
}